body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f6f8;
}

h2 {
    color: #333;
}

button {
    padding: 10px 15px;
    background: #0066ff;
    color: white;
    border: none;
}