<!DOCTYPE html>
<html>
<head>
    <title>TRUSTLENS Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-box">
        <h2>TRUSTLENS</h2>
        <p>AI Fraud Detection System</p>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
