<!DOCTYPE html>
<html>
<head>
    <title>TRUSTLENS Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">
    <div class="login-box">

        <h2>TRUSTLENS</h2>
        <p>Create your account</p>

        <form method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Register</button>
        </form>

        <br>
        <a href="/login">Already have an account? Login</a>

    </div>
</div>

</body>
</html>